---
import LucideMonitor from "../icons/LucideMonitor";
import LucideSmartphone from "../icons/LucideSmartphone";
import { navParams } from "@/lib/utils";
const searchParams = Astro.url.searchParams;

const view = searchParams.get("view");
---

<div class="join bg-base rounded-lg">
  <a
    href={navParams(searchParams, "view", "desktop")}
    class={`${view !== "mobile" ? "btn-primary" : ""} btn-join btn btn-sm rounded-l-lg`}
  >
    <LucideMonitor className="font-semibold size-5" />
    Desktop
  </a>
  <a
    href={navParams(searchParams, "view", "mobile")}
    class={`${view === "mobile" ? "btn-primary" : ""} btn-join btn btn-sm rounded-r-lg`}
  >
    <LucideSmartphone className="font-semibold size-5" />
    Mobile
  </a>
</div>
