---
import Layout from "./Layout.astro";

const view = Astro.url.searchParams.get("view");

const { title } = Astro.props;
---

<Layout title={title}>
  <div class={`${view || ""} div bg-base-100 `}>
    <slot />
  </div>
</Layout>

<style>
  @import "tailwindcss/theme" theme(reference);
  .div {
    height: 100%;
    flex-shrink: 0;
    margin-inline: auto;
    width: 100%;
  }
  .mobile {
    @apply shadow-xl rounded-lg border;
    width: 360px;
    border-color: var(--color-base-300);
  }
</style>
