---
import { ClientRouter } from "astro:transitions";
import "../css/index.css";
import Header from "../components/layout/header.astro";
import Sidebar from "../components/layout/sidebar.astro";

const { title = "Welcome" } = Astro.props;
---

<!doctype html>
<html lang="en" data-theme="winter">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro mjml</title>
    <ClientRouter />
  </head>
  <body>
    <div class="drawer drawer-open">
      <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content content">
        <Header title={title.replace("templates/html", "")} />
        <section class="template w-full max-w-[1200px] py-2">
          <slot />
        </section>
      </div>
      <Sidebar title={title} />
    </div>
  </body>
</html>

<style>
  .content {
    display: grid;
    grid-template-rows: auto 1fr;
  }
</style>
